#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    description Load balancer for Knockout Gaming

    # SSL
    ssl-default-bind-options no-sslv3 no-tls-tickets
    ssl-default-server-ciphers ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:AES:CAMELLIA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA

    log         127.0.0.1 local2
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     8000
    user        haproxy
    group       haproxy
    daemon


#---------------------------------------------------------------------
# defaults
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  dontlognull
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout check           10s


#---------------------------------------------------------------------
# main HTTP frontend
#---------------------------------------------------------------------
frontend http-in-web
    mode                    http
    bind                    *:80
    {% if ad_env_prefix == "qa" or ad_env_prefix == "dev" %}
    bind                    *:8880 accept-proxy
    {% endif %}
    bind                    *:443 ssl crt-list /etc/haproxy/certslist ciphers TLSv1+HIGH:!aNULL:!eNULL:!3DES:!RC4:!CAMELLIA:!DH:!kECDHE:@STRENGTH no-sslv3 no-tlsv10
    option                  httplog
    option                  http-keep-alive
    option                  forwardfor  if-none   except 127.0.0.0/8
    timeout                 http-keep-alive 30s

    redirect scheme https code 301 if { hdr_dom(host) -i knockoutforex.com } !{ ssl_fc }
    redirect scheme https code 301 if { hdr_dom(host) -i knockoutforacause.org } !{ ssl_fc }

    # ITOPS-636
    redirect scheme https code 301 if { hdr_dom(host) -i chancesaffiliates.com } !{ ssl_fc }
    redirect scheme https code 301 if { hdr_dom(host) -i datasprinter.com } !{ ssl_fc }
    redirect scheme https code 301 if { hdr_dom(host) -i knockoutaffiliates.com } !{ ssl_fc }
    redirect scheme https code 301 if { hdr_dom(host) -i knockoutcareers.com } !{ ssl_fc }
    redirect scheme https code 301 if { hdr_dom(host) -i knockoutesports.com } !{ ssl_fc }
    redirect scheme https code 301 if { hdr_dom(host) -i knockoutevents.com } !{ ssl_fc }
    redirect scheme https code 301 if { hdr_dom(host) -i knockoutlottos.com } !{ ssl_fc }
    redirect scheme https code 301 if { hdr_dom(host) -i knockoutmag.com } !{ ssl_fc }
    redirect scheme https code 301 if { hdr_dom(host) -i knockoutmediagroup.com } !{ ssl_fc }
    redirect scheme https code 301 if { hdr_dom(host) -i knockoutplay.com } !{ ssl_fc }
    redirect scheme https code 301 if { hdr_dom(host) -i knockoutpoker.net } !{ ssl_fc }
    redirect scheme https code 301 if { hdr_dom(host) -i knockoutpokerroom.com } !{ ssl_fc }
    redirect scheme https code 301 if { hdr_dom(host) -i knockoutprime.com } !{ ssl_fc }
    redirect scheme https code 301 if { hdr_dom(host) -i knockouttickets.com } !{ ssl_fc }
    redirect scheme https code 301 if { hdr_dom(host) -i knockoutvip.com } !{ ssl_fc }
    redirect scheme https code 301 if { hdr_dom(host) -i paysprinter.com } !{ ssl_fc }
    redirect scheme https code 301 if { hdr_dom(host) -i metrooperatingcompany.com } !{ ssl_fc }
    redirect scheme https code 301 if { hdr_dom(host) -i knockouttravel.com } !{ ssl_fc }
    redirect scheme https code 301 if { hdr_dom(host) -i knockoutgaming.com } !{ ssl_fc }


    # Determine the destination website
    # ITOPS-636 ITOPS-699
    acl is_apache hdr_dom(host) -i knockoutforex.com or hdr_dom(host) -i chancesaffiliates.com or hdr_dom(host) -i datasprinter.com or hdr_dom(host) -i knockoutaffiliates.com or hdr_dom(host) -i knockoutesports.com or hdr_dom(host) -i knockoutevents.com or hdr_dom(host) -i knockoutlottos.com or hdr_dom(host) -i knockoutmag.com or hdr_dom(host) -i knockoutmediagroup.com or hdr_dom(host) -i knockoutplay.com or hdr_dom(host) -i knockoutpoker.net or hdr_dom(host) -i knockoutpokerroom.com
    acl is_apache2 hdr_dom(host) -i knockouttravel.com or hdr_dom(host) -i knockoutprime.com or hdr_dom(host) -i knockouttickets.com or hdr_dom(host) -i knockoutvip.com or hdr_dom(host) -i paysprinter.com or hdr_dom(host) -i knockoutpicks.com or hdr_dom(host) -i metrooperatingcompany.com or hdr_dom(host) -i knockoutgaming.com

    acl is_nodejs hdr_dom(host) -i knockoutforacause.org

    # ITOPS-689
    acl is_careers hdr_dom(host) -i knockoutcareers.com

    # Backends
    use_backend b_apache	if is_apache or is_apache2
    use_backend b_nodejs	if is_nodejs
    # ITOPS-689
    use_backend b_careers	if is_careers

backend b_apache
	mode http
	balance source
	option http-server-close
        server {{ item.koforex }} check

backend b_nodejs
	mode http
	balance source
	option http-server-close
        server {{ item.kofac }} check

# ITOPS-689
backend b_careers
	mode http
	balance source
	option http-server-close
        server {{ item.knockoutcareers }} check

listen stats
    bind :9000       #Listen on all IP's on port 9000
    mode http
    balance
    timeout client 5000
    timeout connect 4000
    timeout server 30000

    #This is the virtual URL to access the stats page
    stats uri /haproxy_stats

    #Authentication realm. This can be set to anything. Escape space characters with a backslash.
    stats realm HAProxy\ Statistics

    #The user/pass you want to use. Change this password!
    stats auth {{ ha_user }}:{{ ha_pass }}

    #This allows you to take down and bring up back end servers.
    #This will produce an error on older versions of HAProxy.
    stats admin if TRUE
