# docker-haproxy - haproxy load balancer in front of docker cluster

#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    description Load balancer for Knockout Gaming

    # SSL
    ssl-default-bind-options no-sslv3 no-tls-tickets
    ssl-default-server-ciphers ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:AES:CAMELLIA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA

    log         127.0.0.1 local2
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     8000
    user        haproxy
    group       haproxy
    daemon


#---------------------------------------------------------------------
# defaults
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  dontlognull
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout check           10s


#---------------------------------------------------------------------
# main HTTP frontend
#---------------------------------------------------------------------
frontend http-in-web
    mode                    http
    bind                    *:80
{% if ad_env_prefix == "qa" or ad_env_prefix == "dev1" %}
    bind                    *:8880 accept-proxy
    bind                    *:8443 accept-proxy ssl crt-list /etc/haproxy/certslist ciphers TLSv1+HIGH:!aNULL:!eNULL:!3DES:!RC4:!CAMELLIA:!DH:!kECDHE:@STRENGTH no-sslv3 no-tlsv10
{% endif %}
    bind                    *:443 ssl crt-list /etc/haproxy/certslist ciphers TLSv1+HIGH:!aNULL:!eNULL:!3DES:!RC4:!CAMELLIA:!DH:!kECDHE:@STRENGTH no-sslv3 no-tlsv10
    option                  httplog
    option                  http-keep-alive
    option                  forwardfor  if-none   except 127.0.0.0/8
    timeout                 http-keep-alive 30s
    capture request header Host len 32
    capture request header X-Forwarded-For len 16

    # KO-2480
    redirect prefix https://chances.pe code 301 if { hdr(host) -i www.chances.pe }
    redirect prefix https://knockoutcasino.com code 301 if { hdr(host) -i www.knockoutcasino.com }
    redirect prefix https://welivebets.com code 301 if { hdr(host) -i www.welivebets.com }
    redirect prefix https://spinomaniac.com code 301 if { hdr(host) -i www.spinomaniac.com }
    redirect prefix https://senebet.com code 301 if { hdr(host) -i www.senebet.com }


{% if ad_env_prefix == "dev" or ad_env_prefix == "qa" %}
    redirect scheme https code 301 if { hdr_dom(host) -i knockoutdev.com } !{ ssl_fc }

    # BCM-175 Redirect HTTP to HTTPS at dev & qa
    redirect scheme https code 301 if { hdr_dom(host) -i chances.pe } !{ ssl_fc }
    redirect scheme https code 301 if { hdr_dom(host) -i knockoutcasino.com } !{ ssl_fc }
    redirect scheme https code 301 if { hdr_dom(host) -i welivebets.com } !{ ssl_fc }
    redirect scheme https code 301 if { hdr_dom(host) -i spinomaniac.com } !{ ssl_fc }
    redirect scheme https code 301 if { hdr_dom(host) -i royalcrowncasino.com } !{ ssl_fc }
    redirect scheme https code 301 if { hdr_dom(host) -i rush777.com } !{ ssl_fc }
{% endif %}

{% if ad_env_prefix == "pro2" %}
    # ITOPS-216 solve the problem of multiple rdr
    redirect scheme https code 301 if { hdr_dom(host) -i knockoutcasino.com } !{ ssl_fc }
    redirect scheme https code 301 if { hdr_dom(host) -i chances.pe } !{ ssl_fc }
    redirect scheme https code 301 if { hdr_dom(host) -i apiautobahn.com } !{ ssl_fc }
{% endif %}

    # ITOPS-1437
{% if ad_env_prefix == "pro3" %}
    redirect scheme https code 301 if { hdr_dom(host) -i knockoutcasino.com } !{ ssl_fc }
    redirect scheme https code 301 if { hdr_dom(host) -i welivebets.com } !{ ssl_fc }
    redirect scheme https code 301 if { hdr_dom(host) -i spinomaniac.com } !{ ssl_fc }
    redirect scheme https code 301 if { hdr_dom(host) -i mla.apiautobahn.com } !{ ssl_fc }
    redirect scheme https code 301 if { hdr_dom(host) -i mlt.apiautobahn.com } !{ ssl_fc }
{% endif %}

    # Detect CDN
    acl is_cdn hdr_dom(host) -i cdn
    acl is_cdn2 hdr_reg(host) -i ^[a-z]+-cdn\.
    acl is_cdn_pro hdr_reg(host) -i ^pro[0-9]+-cdn\.
    use_backend b_cdn if is_cdn or is_cdn2 or is_cdn_pro

    acl is_cdn_chancesv2 hdr_reg(host) -i ^[a-z0-9]+-cdn\.knockout\.local
    use_backend b_cdn_chancesv2 if is_cdn_chancesv2

    # Determine the destination website
    acl is_chances hdr_dom(host) -i chances.pe
    acl is_knockoutcasino       hdr_dom(host) -i knockoutcasino.com
    # ITOPS-1340
    acl is_senebet       hdr_dom(host) -i senebet.com
    acl is_rush777       hdr_dom(host) -i rush777.com

    # ITOPS-1336
    acl is_welive       hdr_dom(host) -i welivebets.com
    acl is_spino       hdr_dom(host) -i spinomaniac.com
    acl is_oui	    hdr_dom(host) -i oui

    # BCM-211
    acl is_royal        hdr_dom(host) -i royalcrowncasino.com

    # ITOPS-1494
    acl is_chances2	    hdr_dom(host) -i dev2.chances.pe or  hdr_dom(host) -i qa2.chances.pe


    # ITOPS-755 Replace X-Country if cloudflare header is found
    acl acl_cloudflare req.hdr(CF-IPCountry) -m found
    http-request set-header X-Country %[req.hdr(CF-IPCountry)] if acl_cloudflare

    # ITOPS-755 Whitelist based on X-Forwarded-For if cloudflare header is found
    # ITOPS-1193 86.31.186.3 149.14.8.10 212.118.239.9
    # ITOPS-1246 80.232.149.234
    # ITOPS-1271 90.231.24.208 185.64.56.48/29 149.62.65.80
    # ITOPS-1294 185.64.56.48/29 (185.64.56.51 185.64.56.52 185.64.56.53 185.64.56.54)
    acl whitelist_xforgeoloc req.hdr_ip(X-Forwarded-For) 192.168.1.1 66.212.244.41 88.119.208.18 81.16.158.34 217.75.91.58  54.255.254.0/26 195.10.106.100  80.26.35.165 77.226.83.221 80.232.242.207 213.155.166.178 109.98.91.250 85.17.87.132 87.233.220.213 92.251.123.44 84.10.32.188  52.17.9.21 52.17.98.131 216.95.236.3 173.177.161.242 209.87.236.138 80.232.149.234 90.231.24.208 185.64.56.48/29 149.62.65.80 120.29.80.41 87.233.220.213 121.193.143.249 37.114.73.161 70.184.110.213 86.31.186.3 149.14.8.10 212.118.239.9 195.244.196.195 213.165.170.203 195.158.97.140 70.184.110.213 79.144.127.38 80.169.53.90 159.20.29.42

    # ITOPS-755 Whitelist based on SRC if not from cloudflare
    acl whitelist_geoloc src 10.0.0.0/8 192.168.1.1 66.212.244.41 88.119.208.18 81.16.158.34 195.244.196.195 217.75.91.58  54.255.254.0/26 195.10.106.100  80.26.35.165 77.226.83.221 80.232.242.207 213.155.166.178 109.98.91.250 85.17.87.132 87.233.220.213 84.10.32.188  52.17.9.21 52.17.98.131 216.95.236.3 173.177.161.242 209.87.236.138 80.232.149.234 90.231.24.208 185.64.56.48/29 149.62.65.80 120.29.80.41 87.233.220.213 121.193.143.249 37.114.73.161 70.184.110.213 86.31.186.3 149.14.8.10 212.118.239.9 80.169.53.90 159.20.29.42
    http-request set-header X-Country PE if whitelist_geoloc
    http-request set-header X-Country PE if whitelist_xforgeoloc

    # Create the X-Country code based on MaxMind if not from cloudflare
    http-request set-header X-Country %[src,map_ip(/etc/haproxy/ipranges/GeoIPCountryWhois.txt)] if !whitelist_geoloc !acl_cloudflare

    # Blocked regions for all business units: https://knockoutdev.atlassian.net/wiki/x/86keBg
    acl acl_geoloc_block_all req.hdr(X-Country) -m str -i AF AO DZ BE BA BG CO DK DM DO SV ET FO FJ FR GL
    acl acl_geoloc_block_all2 req.hdr(X-Country) -m str -i GP GU GN HK IR IQ IL IT JP LA LV LT LU MK MD ME KP
    acl acl_geoloc_block_all3 req.hdr(X-Country) -m str -i PH PR SM SA RS SG SK SI ES SY TW UG VU VA YE

    # Blocked regions for Chances. Amended for https://knockoutdev.atlassian.net/browse/KO-2245
    acl acl_geoloc_block_chances req.hdr(X-Country) -m str -i KY FK DE NZ NO PL SE CH UA
    acl acl_geoloc_block_koc req.hdr(X-Country) -m str -i KY FK DE NZ NO PL SE CH UA
    acl acl_geoloc_block_senebet req.hdr(X-Country) -m str -i KY FK DE NZ NO PL SE CH UA
    acl acl_geoloc_block_rush777 req.hdr(X-Country) -m str -i KY FK DE NZ NO PL SE CH UA
    acl acl_geoloc_block_welive req.hdr(X-Country) -m str -i KY FK PL
    acl acl_geoloc_block_spino req.hdr(X-Country) -m str -i KY FK PL CH UA
    acl acl_geoloc_block_oui req.hdr(X-Country) -m str -i KY FK DE NZ NO PL SE CH UA


    http-request set-header X-BLOCKED-COUNTRY true if acl_geoloc_block_all OR acl_geoloc_block_all2 OR acl_geoloc_block_all3
    http-request set-header X-BLOCKED-COUNTRY true if is_chances acl_geoloc_block_chances OR is_knockoutcasino acl_geoloc_block_koc OR is_senebet acl_geoloc_block_senebet OR is_rush777 acl_geoloc_block_rush777
    http-request set-header X-BLOCKED-COUNTRY true if is_welive acl_geoloc_block_welive OR is_spino acl_geoloc_block_spino OR is_oui OR is_royal acl_geoloc_block_oui

    # ITOPS-755 delete X-BLOCKED-COUNTRY
    http-request set-header X-PUBLIC true if !whitelist_geoloc !whitelist_xforgeoloc
    http-request del-header X-BLOCKED-COUNTRY if whitelist_geoloc or whitelist_xforgeoloc

    # Admin
    acl is_admin_101 hdr_dom(host) -i admin-ko-uk
    # ITOPS-1264
    acl is_admin_119 hdr_dom(host) -i admin-ko-gli

    acl is_admin_116 hdr_dom(host) -i admin-chances2
    acl is_admin_103 hdr_dom(host) -i admin-chances
    acl is_admin_106 hdr_dom(host) -i admin-ko or hdr_dom(host) -i admin-ko-mit
    acl is_admin_107 hdr_dom(host) -i admin-ko-mla or hdr_dom(host) -i admin-ko.pro3

    acl is_admin_110 hdr_dom(host) -i admin-senebet
    acl is_admin_111 hdr_dom(host) -i admin-welive
    acl is_admin_112 hdr_dom(host) -i admin-rush
    acl is_admin_113 hdr_dom(host) -i admin-spino
    acl is_admin_114 hdr_dom(host) -i admin-oui
    acl is_admin_115 hdr_dom(host) -i admin-royalc

    # ITOPS-1485
    # ITOPS-1591 64.74.138.10/31 66.199.8.10/31 82.199.90.162/31 91.212.42.10/31
    acl is_apiab hdr_dom(host) -i knockoutdev.com or hdr_dom(host) -i apiautobahn.com
    acl whitelist_mal src 80.26.35.165 77.226.83.221
    acl whitelist_cf src 103.21.244.0/22 103.22.200.0/22 103.31.4.0/22 104.16.0.0/12 108.162.192.0/18 131.0.72.0/22 141.101.64.0/18 162.158.0.0/15 172.64.0.0/13 173.245.48.0/20 188.114.96.0/20 190.93.240.0/20 197.234.240.0/22 198.41.128.0/17
    acl whitelist_xff req.hdr_ip(X-Forwarded-For) 80.26.35.165 77.226.83.221 66.212.244.41 78.41.6.162/32 78.41.6.161/32 176.65.77.56/32 176.65.77.62/32 176.65.77.54/32 176.65.77.58/32 176.65.77.59/32 94.125.62.97/32 54.229.9.44/32 185.140.229.0/24 85.17.87.132/32 94.102.151.130/32 87.233.234.7/32 87.233.234.8/32 104.41.212.174/32 87.233.13.51/32 87.233.13.52/32 87.233.13.53/32 87.233.13.54/32 91.220.139.42/32 54.194.243.247/32 54.229.238.48/32 54.229.94.90/32 54.229.196.88/32 185.38.164.154/32 185.38.164.143/32 185.38.164.178/32 54.229.9.44/32 66.212.228.145/32 66.212.225.116/32 66.212.225.118/32 78.24.212.73/32 78.24.211.197/32 78.24.211.198/32 78.24.211.199/32 78.24.211.192/32 66.212.226.161/32 216.95.236.3/32 66.212.225.106/32 52.51.194.179/32 52.209.182.232/32 34.241.202.249/32 52.19.173.50/32 200.124.137.64/27 80.232.149.234/32 185.64.56.51/32 185.64.56.52/32 185.64.56.54/32 185.64.56.53/32 64.74.138.10/31 66.199.8.10/31 82.199.90.162/31 91.212.42.10/31
{% if ad_env_prefix == "pro3" %}
    http-request deny if is_apiab !whitelist_mal !whitelist_cf OR is_apiab !whitelist_mal whitelist_cf !whitelist_xff
{% elif ad_env_prefix == "pro2" %}
    acl whitelist_ip src 78.41.6.162/32 78.41.6.161/32 176.65.77.56/32 176.65.77.62/32 176.65.77.54/32 176.65.77.58/32 176.65.77.59/32 94.125.62.97/32 54.229.9.44/32 185.140.229.0/24 85.17.87.132/32 94.102.151.130/32 87.233.234.7/32 87.233.234.8/32 104.41.212.174/32 87.233.13.51/32 87.233.13.52/32 87.233.13.53/32 87.233.13.54/32 91.220.139.42/32 54.194.243.247/32 54.229.238.48/32 54.229.94.90/32 54.229.196.88/32 185.38.164.154/32 185.38.164.143/32 185.38.164.178/32 54.229.9.44/32 66.212.228.145/32 66.212.225.116/32 66.212.225.118/32 78.24.212.73/32 78.24.211.197/32 78.24.211.198/32 78.24.211.199/32 78.24.211.192/32 66.212.226.161/32 216.95.236.3/32 66.212.225.106/32 52.51.194.179/32 52.209.182.232/32 34.241.202.249/32 52.19.173.50/32 200.124.137.64/27 80.232.149.234/32 185.64.56.51/32 185.64.56.52/32 185.64.56.54/32 185.64.56.53/32 64.74.138.10/31 66.199.8.10/31 82.199.90.162/31 91.212.42.10/31
    http-request deny if is_apiab !whitelist_mal !whitelist_ip !whitelist_cf OR is_apiab !whitelist_mal !whitelist_ip whitelist_cf !whitelist_xff
{% endif %}

{% if ad_env_prefix == "pro2" or ad_env_prefix == "pro3" %}
    acl whitelist_mal_xff req.hdr_ip(X-Forwarded-For) 80.26.35.165 77.226.83.221 70.184.110.213 213.165.170.203
    # ITOPS-1595 ITOPS-1641 ITOPS-1776
    acl whitelist_regulators_xff req.hdr_ip(X-Forwarded-For) 194.158.45.194 95.87.212.236
    acl whitelist_skrill_xff req.hdr_ip(X-Forwarded-For) 80.169.53.90 159.20.29.42 195.244.196.196 195.244.196.195 212.90.159.232 81.16.158.34
    acl whitelist_betsoft_xff req.hdr_ip(X-Forwarded-For) 92.251.52.194 111.125.120.172 87.233.220.213 121.193.143.249 37.114.73.161
    http-request deny if !is_cdn is_rush777 !whitelist_mal_xff !whitelist_regulators_xff !whitelist_skrill_xff !whitelist_betsoft_xff
    http-request deny if !is_cdn is_senebet !whitelist_mal_xff !whitelist_skrill_xff
{% endif %}

    ## KO-1153 - Routing for wallet services and integration adaptors
    ## -------------------------------------------------------
    acl is_wallet_tokens path_beg -i /wallet-login-api/v1/tokens/
    use_backend b_casino_srv if is_wallet_tokens is_apiab

    ## BCM-274
    ## -------------------
    acl is_nodeapi path_beg -i /node-api
    use_backend b_nodeapi if is_nodeapi is_apiab

    acl is_login_auth path_beg -i /wallet-login-api/v1/auths
{% if ad_env_prefix == "dev" or ad_env_prefix == "qa" %}
    use_backend b_gamelobby if is_login_auth
{% else %}
    use_backend b_wallet_async if is_login_auth is_apiab
{% endif %}

    acl is_wallet_login path_beg -i /wallet-async-api
    use_backend b_wallet_async if is_wallet_login is_apiab

    acl is_wallet_trans path_beg -i /wallet-transactions-api
    use_backend b_wallet_sync if is_wallet_trans is_apiab

    acl is_wallet_balan path_beg -i /wallet-balances-api
    use_backend b_wallet_query if is_wallet_balan is_apiab

    acl is_payments_api path_beg -i /payments-api/
    use_backend b_payments_srv if is_payments_api is_apiab

    acl is_casino_api path_beg -i /casino-api/ or path_beg -i /egaming/
    acl is_casino_srv hdr_dom(host) -i casino-srv
    use_backend b_casino_srv if is_casino_srv is_casino_api
    use_backend b_casino_srv if is_apiab is_casino_api

    acl is_affiliate_api path_beg -i /reports/incomeaccess
    use_backend b_affiliate_srv if is_affiliate_api is_apiab

    acl is_reports_api path_beg -i /reports/
    use_backend b_reports_srv if is_reports_api is_apiab

    acl is_platform_srv hdr_dom(host) -i platform-srv
    use_backend b_platform_srv if is_platform_srv

    # ITOP-1272
    acl is_reports-maintenance-srv hdr_dom(host) -i reports-maintenance-srv
    use_backend b_reports-maintenance-srv if is_reports-maintenance-srv

    # ITOPS-811
    acl is_bonus_srv hdr_dom(host) -i bonus-srv
    use_backend b_bonus_srv if is_bonus_srv

    ##### ITOPS-1485 acl is_adaptors_hostname hdr_dom(host) -i adaptors.dev.knockout.local or hdr_dom(host) -i apiautobahn.com or hdr_dom(host) -i api.knockoutdev.com and ( !is_payments_srv and !is_wallet_login and !is_wallet_trans and !is_wallet_balan )
    ##### ITOPS-1485use_backend b_casino_srv if is_adaptors_hostname !is_payments_srv !is_wallet_login !is_wallet_trans !is_wallet_balan

    # ITOPS-601
    acl is_lottoland_api path_beg -i /v1/lottoland/ or path_beg -i /v1/rival or path_beg -i /v1/rival/tokens
    use_backend b_casino_srv if is_lottoland_api is_apiab

    # KO-2107 external access for reports
    acl is_dev_reports          hdr_beg(host) -i dev-reports

    # KO-2338
    acl is_uk req.hdr(X-Country) -m str -i GB IM GI

    # KO-2770
    acl is_mt req.hdr(X-Country) -m str -i MT

    # KO-2771
    acl is_mit                  hdr_reg(host) -i .*-mit\. or hdr_dom(host) -i mit
    acl is_mla                  hdr_reg(host) -i .*-mla\. or hdr_dom(host) -i mla
    # ITOPS-1264
    acl is_gli                  hdr_reg(host) -i .*-gli\. or hdr_dom(host) -i gli

    # "-m reg" means match a regex, the regex is any number of characters after the initial,
    # so wallet-sync matches wallet-sync-1.dev.knockout.local, etc.
    # Dockers
    acl is_wallet_async                   hdr_beg(host) -i wallet-async
    acl is_wallet_sync                    hdr_beg(host) -i wallet-sync
    acl is_wallet_query                   hdr_beg(host) -i wallet-query
    acl is_payments_srv2                  hdr_beg(host) -i payments-srv
    acl is_midware_jobs                   hdr_beg(host) -i midware-jobs
    acl is_midware_ws                     hdr_beg(host) -i middleware-ws
    acl is_reports_srv                    hdr_beg(host) -i reports-srv
    acl is_gamelobby                      hdr_beg(host) -i game-lobby
    acl is_affiliate_api                  hdr_beg(host) -i affiliate-srv
    acl is_reports-maintenance-srv        hdr_beg(host) -i reports-maintenance-srv


    # KO-1814
    acl is_alfresco         hdr_beg(host) -i alfresco

    # ITOPS-233
    acl is_koversions         hdr_beg(host) -i ko-versions
    use_backend b_koversions	if is_koversions

    # ITOPS-1340
    http-request set-header X-BUSINESS-UNIT 110 if is_senebet
    http-request set-header X-BUSINESS-UNIT 112 if is_rush777

    # ITOPS-1340
    http-request set-header X-BUSINESS-UNIT 111 if is_welive
    http-request set-header X-BUSINESS-UNIT 113 if is_spino
    http-request set-header X-BUSINESS-UNIT 114 if is_oui

    # BCM-211
    http-request set-header X-BUSINESS-UNIT 115 if is_royal

    use_backend b_knockoutcasino_def if is_rush777 or is_welive or is_spino or is_oui or is_senebet or is_royal

{% if ad_env_prefix == "dev" %}
    # KO-2929
    acl is_bet_history_service          hdr_beg(host) -i bet-history-service
    use_backend b_bet_history_service	if is_bet_history_service
{% endif %}


    # KO-2338
    http-request set-header X-BUSINESS-UNIT 101 if is_admin_101 or is_knockoutcasino is_uk
    http-request set-header X-BUSINESS-UNIT 119 if is_admin_119 or is_knockoutcasino is_gli
    http-request set-header X-BUSINESS-UNIT 106 if is_admin_106 or is_knockoutcasino !is_gli !is_uk !is_mt or is_knockoutcasino is_mit

    # KO-2770
    http-request set-header X-BUSINESS-UNIT 107 if is_admin_107 or is_knockoutcasino !is_gli !is_uk is_mt or is_knockoutcasino is_mla
    http-request set-header X-BUSINESS-UNIT 103 if is_admin_103 or is_chances
    http-request set-header X-BUSINESS-UNIT 116 if is_admin_116 or is_chances2
    http-request set-header X-Country MT if is_knockoutcasino is_mla

    # ITOPS-1324
    http-request set-header X-BUSINESS-UNIT 110 if is_admin_110
    http-request set-header X-BUSINESS-UNIT 111 if is_admin_111
    http-request set-header X-BUSINESS-UNIT 112 if is_admin_112
    http-request set-header X-BUSINESS-UNIT 113 if is_admin_113
    http-request set-header X-BUSINESS-UNIT 114 if is_admin_114
    http-request set-header X-BUSINESS-UNIT 115 if is_admin_115

    # Backends
    use_backend b_admin 	if is_admin_101 or is_admin_103 or is_admin_106 or is_admin_107 or is_admin_119 or is_admin_110 or is_admin_111 or is_admin_112 or is_admin_113 or is_admin_114 or is_admin_115 or is_admin_116
    use_backend b_wallet_async 	if is_wallet_async
    use_backend b_wallet_sync 	if is_wallet_sync
    use_backend b_wallet_query 	if is_wallet_query
    use_backend b_payments_srv	if is_payments_srv2
    use_backend b_midware_jobs 	if is_midware_jobs
    use_backend b_midware_ws 	if is_midware_ws
    use_backend b_casino_srv	if is_casino_srv
    use_backend b_reports_srv 	if is_reports_srv or is_dev_reports
    use_backend b_gamelobby 	if is_gamelobby
    use_backend b_affiliate_srv           if is_affiliate_api
    use_backend b_reports-maintenance-srv if is_reports-maintenance-srv
    use_backend b_alfresco	              if is_alfresco
    use_backend b_knockoutcasino_103	  if is_chances2
    use_backend b_knockoutcasino_103	  if is_chances

    # KO-2338
    use_backend b_knockoutcasino_101	if is_knockoutcasino is_uk
    use_backend b_knockoutcasino_def	if is_knockoutcasino is_gli
    use_backend b_knockoutcasino_106	if is_knockoutcasino !is_gli !is_uk !is_mt !is_mla or is_knockoutcasino is_mit
    use_backend b_knockoutcasino_107	if is_knockoutcasino is_mt !is_gli !is_mit or is_knockoutcasino is_mla

	# Graylog PENG-3
	acl is_graylog hdr_reg(host) -i log\.pro[0-9]+\.knockout\.local
	use_backend b_graylog if is_graylog

	acl internal_network src 10.0.0.0/8
	http-request deny if is_graylog !internal_network

userlist auth_def
        user demo insecure-password dtrZICQ1HXuD

userlist auth_senebet
        user demo insecure-password LMqZsaWYD83n

userlist auth_chances
        user demo insecure-password n9hsQDnE29yW

userlist auth_mlj
        user demo insecure-password WiUoxlK5ydb5

userlist auth_ko
        user demo insecure-password 08PXe6gst73M

userlist auth_ko_107
        user demo insecure-password 9ul6RLF0E64D

userlist auth_ko_wl
        user demo insecure-password jWfi4K2eN5i9

userlist auth_ko_wl_prod
        user demo insecure-password jhFhm5wNsn1i

userlist auth_reports
{% if ad_env_prefix == "pro2" %}
        user reportusr insecure-password 9ul7RFFOE64Y
{% else %}
        user demo insecure-password 83DfwERFg9m0
{% endif %}

userlist auth_pro2
        user demo insecure-password jfWt4g9skfd9

backend b_admin
    mode http
    balance source
    option http-server-close
    server {{ item.node1 }}:8089 check
    server {{ item.node2 }}:8089 check
    server {{ item.node3 }}:8089 check

backend b_wallet_async
    mode http
    balance source
    reqrep ^([^\ :]*)\ /wallet-login-api[/]?(.*)  \1\ /\2
    reqrep ^([^\ :]*)\ /wallet-async-api[/]?(.*)  \1\ /\2
    option http-server-close
    server {{ item.node1 }}:8081 check
    server {{ item.node2 }}:8081 check
    server {{ item.node3 }}:8081 check
    #option httpchk GET /health
    #http-check expect rstring UP

backend b_wallet_sync
    mode http
    balance source
    reqrep ^([^\ :]*)\ /wallet-transactions-api[/]?(.*)  \1\ /\2
    option http-server-close
    server {{ item.node1 }}:8082 check
    server {{ item.node2 }}:8082 check
    server {{ item.node3 }}:8082 check
    #option httpchk GET /health
    #http-check expect rstring UP

backend b_wallet_query
    mode http
    balance source
    reqrep ^([^\ :]*)\ /wallet-balances-api[/]?(.*)  \1\ /\2
    option http-server-close
    server {{ item.node1 }}:8083 check
    server {{ item.node2 }}:8083 check
    server {{ item.node3 }}:8083 check
    #option httpchk GET /health
    #http-check expect rstring UP

backend b_payments_srv
    mode http
    balance source
    reqrep ^([^\ :]*)\ /payments-api[/]?(.*)  \1\ /\2
    option http-server-close
    server {{ item.node1 }}:8084 check
    server {{ item.node2 }}:8084 check
    server {{ item.node3 }}:8084 check
    #option httpchk GET /health
    #http-check expect rstring UP

backend b_nodeapi
    mode http
    balance source
    reqrep ^([^\ :]*)\ /node-api[/]?(.*)  \1\ /\2
    option http-server-close
    server {{ item.node1 }}:8107 check
    server {{ item.node2 }}:8107 check
    server {{ item.node3 }}:8107 check

backend b_midware_jobs
    mode http
    balance source
    option http-server-close
    server {{ item.node1 }}:8085 check
    server {{ item.node2 }}:8085 check
    server {{ item.node3 }}:8085 check
    #option httpchk GET /health
    #http-check expect rstring UP

backend b_midware_ws
    mode http
    balance source
    option http-server-close
    server {{ item.node1 }}:8086 check
    server {{ item.node2 }}:8086 check
    server {{ item.node3 }}:8086 check
    #option httpchk GET /health
    #http-check expect rstring UP
{% if ad_env_prefix == "qa" %}
    # DESK-1912
    acl whitelist src 10.25.101.225/29
    # Quick Fix Country
    http-request set-header Authorization "Basic dGVzdC11c2VyOjF0ZXN0LXVzZXIh" if whitelist
{% endif %}

backend b_casino_srv
    mode http
    balance source
    reqrep ^([^\ :]*)\ /wallet-login-api[/]?(.*)  \1\ /\2
    reqrep ^([^\ :]*)\ /casino-api[/]?(.*)  \1\ /\2
    #	reqrep ^([^\ :]*)\ /rival[/]?(.*)  \1\ /\2
    option http-server-close
    server {{ item.node1 }}:8087 check
    server {{ item.node2 }}:8087 check
    server {{ item.node3 }}:8087 check
    #option httpchk GET /health
    #http-check expect rstring UP

backend b_reports_srv
    mode http
    balance source
    option http-server-close
    timeout server 120000
    timeout http-request 120000
    server {{ item.node1 }}:8088 check
    server {{ item.node2 }}:8088 check
    server {{ item.node3 }}:8088 check
    # In PRO2 you ALSO need to allow this IPs on Fortigate firewall #
    # In PRO2 you ALSO need to allow this IPs on Fortigate firewall #
    acl whitelist src 10.0.0.0/8 192.168.1.1 80.26.35.165 77.226.83.221 66.212.228.145 66.212.225.116 66.212.225.118 78.24.212.73 78.24.211.197 78.24.211.198 78.24.211.199 78.24.211.192 66.212.226.161 66.212.225.106 216.95.236.3
    # In PRO2 you ALSO need to allow this IPs on Fortigate firewall #
    # In PRO2 you ALSO need to allow this IPs on Fortigate firewall #
    acl AuthOkay_UsersAuth http_auth(auth_reports)
    http-request deny if !whitelist
    http-request auth realm auth_reports unless AuthOkay_UsersAuth

backend b_platform_srv
    mode http
    balance source
    option http-server-close
    server {{ item.node1 }}:8095 check
    server {{ item.node2 }}:8095 check
    server {{ item.node3 }}:8095 check
    acl whitelist src 10.0.0.0/8 192.168.1.1 80.26.35.165 77.226.83.221
    http-request deny if !whitelist

backend b_reports-maintenance-srv
    mode http
    balance source
    option http-server-close
    server {{ item.node1 }}:8105 check
    server {{ item.node2 }}:8105 check
    server {{ item.node3 }}:8105 check
    acl whitelist src 10.0.0.0/8 192.168.1.1 80.26.35.165 77.226.83.221
    http-request deny if !whitelist

backend b_bonus_srv
    mode http
    balance source
    option http-server-close
    server {{ item.node1 }}:8101 check
    server {{ item.node2 }}:8101 check
    server {{ item.node3 }}:8101 check
    acl whitelist src 10.0.0.0/8 192.168.1.1 80.26.35.165 77.226.83.221
    http-request deny if !whitelist

backend b_knockoutcasino_101
    mode http
    balance source
    option http-server-close
    server {{ item.node1 }}:8090 check
    server {{ item.node2 }}:8090 check
    server {{ item.node3 }}:8090 check

{% if ad_env_prefix != "pro" and ad_env_prefix != "pro2" and ad_env_prefix != "pro3" %}
    # Block outside access
    acl whitelist src 10.0.0.0/8 192.168.1.1  80.26.35.165 77.226.83.221 213.155.166.160/27 84.10.32.188 85.17.87.132 87.233.220.213
    acl AuthOkay_UsersAuth http_auth(auth_ko)
    http-request auth realm auth_ko if !AuthOkay_UsersAuth !whitelist
{% endif %}

backend b_knockoutcasino_103
    mode http
    balance source
    option http-server-close
    option allbackups

    # BCM-176 - HTTP healtchecks to NodeJS applications
    option http-server-close
    option httpchk HEAD / HTTP/1.0
    http-check expect ! rstatus ^5
    default-server inter 3s fall 3 rise 2

    server {{ item.node1 }}:8094 check
    server {{ item.node2 }}:8094 check
    server {{ item.node3 }}:8094 check
{% if ad_env_prefix == "qa" %}
    server {{ item.assets1 }}:8083 backup
    server {{ item.assets2 }}:8083 backup
{% else %}
    server {{ item.assets1 }}:8081 backup
    server {{ item.assets2 }}:8081 backup
{% endif %}

    # ITOPS-1505 213.170.37.195
{% if ad_env_prefix != "pro" and ad_env_prefix != "pro2" and ad_env_prefix != "pro3" %}
    acl whitelist src 10.0.0.0/8 88.119.208.18 217.75.91.58 127.0.0.1 192.168.1.1  80.26.35.165 77.226.83.221 85.17.87.132  87.233.220.213 84.10.32.188 54.255.254.0/26 216.95.236.3 173.177.161.242 209.87.236.138 80.232.149.234 213.170.37.195
    acl AuthOkay_UsersAuth http_auth(auth_chances)
    http-request set-header X-Country PE if whitelist
    http-request del-header X-BLOCKED-COUNTRY if whitelist
    http-request auth realm auth_chances if !AuthOkay_UsersAuth !whitelist
    {% endif %}

{% if ad_env_prefix == "pro2" or ad_env_prefix == "pro3" %}
    # ITOPS-1410 81.16.158.34 195.244.196.195
    # ITOPS-1418 213.165.170.203 195.158.97.140 70.184.110.213
    # ITOPS-1434 79.144.127.38
    # ITOPS-1445 120.29.80.41 87.233.220.213 92.251.123.44
    # ITOPS-1454 80.85.110.85 151.181.55.171
    # ITOPS-1455 88.119.208.18
    # ITOPS-1438 212.90.159.232
    # ITOPS-1430 95.87.212.236
    # ITOPS-1453 194.158.45.194
    # ITOPS-1483 94.125.62.98
    # ITOPS-1440 195.244.196.195 195.244.196.196
    # ITOPS-1487 209.87.236.138
    acl whitelistp req.hdr_ip(X-Forwarded-For) 10.0.0.0/8 80.26.35.165 77.226.83.221 81.16.158.34 213.165.170.203 195.158.97.140 70.184.110.213 79.144.127.38 120.29.80.41 87.233.220.213 92.251.123.44 80.85.110.85 151.181.55.171 88.119.208.18 212.90.159.232 95.87.212.236 194.158.45.194 94.125.62.98 195.244.196.195 195.244.196.196 209.87.236.138

    acl is_reg path_beg -i /en/register /es/registro
    acl is_login path_beg -i /en/login /es/iniciar-sesion

    # PINT-404
    acl is_allowed req.hdr(X-Country) -m str AD AO AG AR AZ BS BD BB BY BZ BJ BO BW BV BF BI CM CV CF TD CX CC CG CD CK CR CI DJ EC EG GQ GA GE GH GD GT GW GY HT HM HN LM KE KI LS LR LI
    acl is_allowed2 req.hdr(X-Country) -m str MO MG MW ML MT MH MX FM MC MN MS MA MZ MM NA NR NI NE NU NF PW PS PG PY PE PN SH KN LC VC WS ST SN NC SL SX SB GS LK SR SJ SZ TJ TZ TL
    acl is_allowed3 req.hdr(X-Country) -m str TG TK TO TT TN UY VE EH ZM ZW

    acl is_from_us req.hdr(X-Country) -m str US

    http-request deny if is_login is_from_us
    http-request deny if is_reg !whitelistp !is_allowed !is_allowed2 !is_allowed3
    acl is_blocked req.hdr(X-BLOCKED-COUNTRY) -m found
    http-request set-header X-Country PE if !is_blocked
    http-request del-header X-PUBLIC if whitelistp

    # Quick Fix Country
    http-request set-header X-Country PE if whitelistp
    http-request del-header X-BLOCKED-COUNTRY if whitelistp
{% endif %}

backend b_knockoutcasino_106
    mode http
    balance source
    option http-server-close
    option allbackups

    # BCM-176 - HTTP healtchecks to NodeJS applications
    option http-server-close
    option httpchk HEAD / HTTP/1.0
    http-check expect ! rstatus ^5
    default-server inter 3s fall 3 rise 2

    server {{ item.node1 }}:8094 check
    server {{ item.node2 }}:8094 check
    server {{ item.node3 }}:8094 check
{% if ad_env_prefix == "qa" %}
    server {{ item.assets1 }}:8083 backup
    server {{ item.assets2 }}:8083 backup
{% else %}
    server {{ item.assets1 }}:8081 backup
    server {{ item.assets2 }}:8081 backup
    {% endif %}

{% if ad_env_prefix != "pro" and ad_env_prefix != "pro2" and ad_env_prefix != "pro3" %}
    # Block outside access
    acl whitelist src 10.0.0.0/8 192.168.1.1 88.119.208.18 80.26.35.165 77.226.83.221  213.155.166.160/27 84.10.32.188 85.17.87.132 87.233.220.213 54.255.254.0/26 217.75.91.58 209.87.236.138 80.232.149.234
    http-request set-header X-Country PE if whitelist
    http-request del-header X-BLOCKED-COUNTRY if whitelist
    acl AuthOkay_UsersAuth http_auth(auth_ko)
    http-request auth realm auth_ko if !AuthOkay_UsersAuth !whitelist
{% endif %}
{% if ad_env_prefix == "pro2" or ad_env_prefix == "pro3" %}
    # ITOPS-1410 81.16.158.34 195.244.196.195
    # ITOPS-1418 213.165.170.203 195.158.97.140 70.184.110.213
    # ITOPS-1434 79.144.127.38
    # ITOPS-1445 120.29.80.41 87.233.220.213 92.251.123.44
    # ITOPS-1454 80.85.110.85 151.181.55.171
    # ITOPS-1455 88.119.208.18
    # ITOPS-1438 212.90.159.232
    # ITOPS-1430 95.87.212.236
    # ITOPS-1453 194.158.45.194
    # ITOPS-1483 94.125.62.98
    # ITOPS-1440 195.244.196.195 195.244.196.196
    # ITOPS-1487 209.87.236.138
    # ITOPS-1654 213.170.37.195
    acl whitelistp req.hdr_ip(X-Forwarded-For) 10.0.0.0/8 80.26.35.165 77.226.83.221 81.16.158.34 213.165.170.203 195.158.97.140 70.184.110.213 79.144.127.38 120.29.80.41 87.233.220.213 92.251.123.44 80.85.110.85 151.181.55.171 88.119.208.18 212.90.159.232 95.87.212.236 194.158.45.194 94.125.62.98 195.244.196.195 195.244.196.196 209.87.236.138 213.170.37.195

    acl is_reg path_beg -i /en/register /es/registro
    acl is_login path_beg -i /en/login /es/iniciar-sesion

    acl is_from_us req.hdr(X-Country) -m str US
    http-request deny if is_login is_from_us
    acl is_blocked req.hdr(X-BLOCKED-COUNTRY) -m found
    http-request set-header X-Country PE if !is_blocked
    http-request del-header X-PUBLIC if whitelistp
    http-request deny if is_reg !whitelistp

    # Quick Fix Country
    http-request set-header X-Country PE if whitelistp
    http-request del-header X-BLOCKED-COUNTRY if whitelistp
{% endif %}

# KO-2770
backend b_knockoutcasino_107
    mode http
    balance source
    option http-server-close
    option allbackups

    # BCM-176 - HTTP healtchecks to NodeJS applications
    option http-server-close
    option httpchk HEAD / HTTP/1.0
    http-check expect ! rstatus ^5
    default-server inter 3s fall 3 rise 2

    server {{ item.node1 }}:8094 check
    server {{ item.node2 }}:8094 check
    server {{ item.node3 }}:8094 check
    server {{ item.assets1 }}:8081 backup
    server {{ item.assets2 }}:8081 backup

    # Password auth for Peru and Malta
    acl AuthOkay_UsersAuth http_auth(auth_ko_107)
    http-request auth realm auth_ko_107 unless AuthOkay_UsersAuth

    # ITOPS-1410 81.16.158.34 195.244.196.195
    # ITOPS-1418 213.165.170.203 195.158.97.140 70.184.110.213
    # ITOPS-1434 79.144.127.38
    # ITOPS-1445 120.29.80.41 87.233.220.213 92.251.123.44
    # ITOPS-1454 80.85.110.85 151.181.55.171
    # ITOPS-1455 88.119.208.18
    # ITOPS-1438 212.90.159.232
    # ITOPS-1430 95.87.212.236
    # ITOPS-1453 194.158.45.194
    # ITOPS-1483 94.125.62.98
    # ITOPS-1440 195.244.196.195 195.244.196.196
    # ITOPS-1487 209.87.236.138

backend b_knockoutcasino_def
    mode http
    balance source
    option http-server-close

    # BCM-176 - HTTP healtchecks to NodeJS applications
    option http-server-close
    option httpchk HEAD / HTTP/1.0
    http-check expect ! rstatus ^5
    default-server inter 3s fall 3 rise 2

    server {{ item.node1 }}:8094 check
    server {{ item.node2 }}:8094 check
    server {{ item.node3 }}:8094 check
{% if ad_env_prefix == "qa" %}
    server {{ item.assets1 }}:8083 backup
    server {{ item.assets2 }}:8083 backup
{% else %}
    server {{ item.assets1 }}:8081 backup
    server {{ item.assets2 }}:8081 backup
{% endif %}

    # Copy from ITOPS-1505
    # BCM-220 Whitelist Booming game provider
{% if ad_env_prefix != "pro" and ad_env_prefix != "pro2" and ad_env_prefix != "pro3" %}
    acl whitelist src 10.0.0.0/8 88.119.208.18 217.75.91.58 127.0.0.1 192.168.1.1  80.26.35.165 77.226.83.221 85.17.87.132  87.233.220.213 84.10.32.188 54.255.254.0/26 216.95.236.3 173.177.161.242 209.87.236.138 80.232.149.234 213.170.37.195 178.19.220.90 5.62.82.96 5.62.83.27
    acl AuthOkay_UsersAuth http_auth(auth_def)
    http-request auth realm auth_def if !AuthOkay_UsersAuth !whitelist
{% endif %}

{% if ad_env_prefix == "pro2" or ad_env_prefix == "pro3" %}
    # ITOPS-1410 81.16.158.34 195.244.196.195
    # ITOPS-1418 213.165.170.203 195.158.97.140 70.184.110.213
    # ITOPS-1434 79.144.127.38
    # ITOPS-1445 120.29.80.41 87.233.220.213 92.251.123.44
    # ITOPS-1454 80.85.110.85 151.181.55.171
    # ITOPS-1455 88.119.208.18
    # ITOPS-1438 212.90.159.232
    # ITOPS-1430 95.87.212.236
    # ITOPS-1453 194.158.45.194
    # ITOPS-1483 94.125.62.98
    # ITOPS-1440 195.244.196.195 195.244.196.196
    # ITOPS-1487 209.87.236.138
    acl whitelistp req.hdr_ip(X-Forwarded-For) 10.0.0.0/8 80.26.35.165 77.226.83.221 81.16.158.34 213.165.170.203 195.158.97.140 70.184.110.213 79.144.127.38 120.29.80.41 87.233.220.213 92.251.123.44 80.85.110.85 151.181.55.171 88.119.208.18 212.90.159.232 95.87.212.236 194.158.45.194 94.125.62.98 195.244.196.195 195.244.196.196 209.87.236.138 80.169.53.90 195.244.196.196

    acl is_reg path_beg -i /en/register /es/registro /de/registrieren /se/registrera /sv/registrera /no/registrere
    acl is_login path_beg -i /en/login /es/iniciar-sesion /de/anmeldung /se/logga-in /sv/logga-in /no/logg-inn

    acl is_from_us req.hdr(X-Country) -m str US

    # PINT-403
    acl is_allowed req.hdr(X-Country) -m str AD AG AR AT AZ BS BD BB BY BZ BJ BO BW BV BF BI CM CV CF TD CX CC CG CD CK CR CZ CI DJ DM DO EC EG SV GQ FK FO FJ FI GA GE DE GH GL GD GP GU GT GN GW HT HM HN HU IE IM JM KE KI
    acl is_allowed2 req.hdr(X-Country) -m str LV LS LR LI LT LU MO MK MG MW MY ML MT MH MX FM MD MC MN ME MS MA MZ NA NR NZ NI NE NU NF NO PW PS PY PE PN PR SH KN LC VC WS SM ST SN SC SL SX SK SI SB GS
    acl is_allowed3 req.hdr(X-Country) -m str SR SJ SZ SE TJ TZ TL TG TK TO UA UY VE EH ZM ZW CH

    http-request deny if is_login is_from_us
    http-request deny if is_reg is_from_us
    http-request deny if is_reg !whitelistp !is_allowed !is_allowed2 !is_allowed3
    acl is_blocked req.hdr(X-BLOCKED-COUNTRY) -m found
    http-request set-header X-Country PE if !is_blocked
    http-request del-header X-PUBLIC if whitelistp

    # Quick Fix Country
    http-request set-header X-Country PE if whitelistp
    http-request del-header X-BLOCKED-COUNTRY if whitelistp
{% endif %}

backend b_gamelobby
    mode http
    balance source
    reqrep ^([^\ :]*)\ /wallet-login-api[/]?(.*)  \1\ /\2
    reqrep ^([^\ :]*)\ /game-lobby[/]?(.*)  \1\ /\2
    option http-server-close
    server {{ item.node1 }}:8091 check
    server {{ item.node2 }}:8091 check
    server {{ item.node3 }}:8091 check

backend b_alfresco
    mode http
    balance source
    option http-server-close
{% if ad_env_prefix == "pro3" %}
    server {{ item.alfresco }}:8880 check
{% else %}
    server {{ item.alfresco }}:8080 check
{% endif %}

backend b_affiliate_srv
    mode http
    balance source
    option http-server-close
    server {{ item.node1 }}:8098 check
    server {{ item.node2 }}:8098 check
    server {{ item.node3 }}:8098 check
    # In PRO2 you ALSO need to allow this IPs on Fortigate firewall #
    # In PRO2 you ALSO need to allow this IPs on Fortigate firewall #
{% if ad_env_prefix == "pro3" or ad_env_prefix == "pro2" %}
    acl whitelist req.hdr_ip(X-Forwarded-For) 10.0.0.0/8 192.168.1.1 80.26.35.165 77.226.83.221 66.212.228.145 66.212.225.116 66.212.225.118 78.24.212.73 78.24.211.197 78.24.211.198 78.24.211.199 78.24.211.192 66.212.226.161 66.212.225.106 216.95.236.3 91.92.196.0/24
{% else %}
    acl whitelist src 10.0.0.0/8 192.168.1.1 80.26.35.165 77.226.83.221 66.212.228.145 66.212.225.116 66.212.225.118 78.24.212.73 78.24.211.197 78.24.211.198 78.24.211.199 78.24.211.192 66.212.226.161 66.212.225.106 216.95.236.3 91.92.196.0/24
{% endif %}
    # In PRO2 you ALSO need to allow this IPs on Fortigate firewall #
    # In PRO2 you ALSO need to allow this IPs on Fortigate firewall #
    http-request deny if !whitelist

{% if ad_env_prefix == "dev" %}
backend b_rdr_qa
    mode http
    balance source
    option http-server-close
    server lb-1 10.25.160.100:80 check
    server lb-2 10.25.160.101:80 check

# KO-2929
backend b_bet_history_service
    acl whitelist src 10.0.0.0/8 192.168.1.1 80.26.35.165 77.226.83.221
    http-request deny if !whitelist
    mode http
    balance source
    option http-server-close
    server {{ item.node1 }}:8096 check
    server {{ item.node2 }}:8096 check
    server {{ item.node3 }}:8096 check
{% endif %}

backend b_koversions
    mode http
    balance source
    option http-server-close
    server {{ item.node1 }}:8000 check
{% if ad_env_prefix == "dev" %}
    server docker-qa 10.25.161.30:8000 check
{% endif %}

backend b_cdn
    mode http
    balance source
    option http-server-close
{% if ad_env_prefix == "qa" %}
    server {{ item.assets1 }}:8082 check
    server {{ item.assets2 }}:8082 check
{% else %}
    server {{ item.assets1 }}:8080 check
    server {{ item.assets2 }}:8080 check
{% endif %}

backend b_cdn_chancesv2
    mode http
    balance source
    option http-server-close
{% if ad_env_prefix == "qa" %}
    server {{ item.assets1 }}:8086 check
    server {{ item.assets2 }}:8086 check
{% else %}
    server {{ item.assets1 }}:8084 check
    server {{ item.assets2 }}:8084 check
{% endif %}

# PENG-3
backend b_graylog
	mode http
	balance source
	option http-server-close
  server {{ item.graylog1 }}:80 check
	server {{ item.graylog2 }}:80 check


listen stats
    bind :9000       #Listen on all IP's on port 9000
    mode http
    balance
    timeout client 5000
    timeout connect 4000
    timeout server 30000

    #This is the virtual URL to access the stats page
    stats uri /haproxy_stats

    #Authentication realm. This can be set to anything. Escape space characters with a backslash.
    stats realm HAProxy\ Statistics

    #The user/pass you want to use. Change this password!
    stats auth {{ ha_user }}:{{ ha_pass }}

    #This allows you to take down and bring up back end servers.
    #This will produce an error on older versions of HAProxy.
    stats admin if TRUE
