# docker-haproxy - haproxy load balancer in front of docker cluster

#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    #debug
    description Load balancer for docker cluster
    # how to enable logging - hint rsyslog! - https://www.percona.com/blog/2014/10/03/haproxy-give-me-some-logs-on-centos-6-5/
    log         127.0.0.1 local2
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     8000
    user        haproxy
    group       haproxy
    daemon


#---------------------------------------------------------------------
# defaults
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  dontlognull
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout check           10s


#---------------------------------------------------------------------
# main HTTP frontend
#---------------------------------------------------------------------
frontend http-in-web
    mode                    http
    bind                    *:80
    bind                    *:443 ssl crt-list /etc/haproxy/certslist no-sslv3 no-tlsv10 no-tlsv11 no-tls-tickets
    option                  httplog
    option                  http-keep-alive
    option                  forwardfor  if-none   except 127.0.0.0/8
    timeout                 http-keep-alive 30s

    redirect scheme https code 301 if { hdr_dom(host) -i chat.knockoutgaming.com } !{ ssl_fc }

    # VPN RDR
    acl is_vpn hdr_beg(host) -i vpn-mlg 
    http-request redirect code 301 prefix https://vpn-mlg.knockoutgaming.com:10443 if is_vpn 

    # DEV 
    acl is_dev hdr_beg(host) -i dev or hdr_dom(host) -i api.knockoutdev.com
    use_backend b_dev if is_dev

    # QA
    acl is_qa hdr_beg(host) -i qa
    use_backend b_qa if is_qa

    # ITOPS-472
    acl is_jenkins hdr_dom(host) -i jenkins.knockoutdev.com
    use_backend b_jenkins if is_jenkins

    # ITOPS-982
    acl is_mattermost hdr_dom(host) -i chat.knockoutgaming.com
    use_backend b_mattermost if is_mattermost

    # ITOPS-602
    #acl is_sbb hdr_dom(host) -i sports.knockoutdev.com 
    #use_backend b_sbb if is_sbb
    
	# Graylog PENG-3
	acl is_graylog hdr_dom(host) -i log-corp.knockout.local
	use_backend b_graylog if is_graylog

# Backends
backend b_dev
	mode http
	balance source
	option forwardfor
	option http-server-close
        server lb-vip.dev1.knockout.local 10.25.150.200:8443 send-proxy check ssl verify none

backend b_qa
	mode http
	balance source
	option forwardfor
	option http-server-close
        server lb-vip.qa.knockout.local 10.25.160.200:8443 send-proxy check ssl verify none

# ITOPS-472
backend b_jenkins
        acl whitelist src 10.0.0.0/8 192.168.1.1 80.26.35.165 188.114.110.29 34.198.203.127 34.198.178.64 34.198.32.85 104.192.136.0/21
        http-request deny if !whitelist
        mode http
        balance source
        option http-server-close
        server jenkins-corp jenkins-corp.knockout.local:8080 check

# ITOPS-982
backend b_mattermost
        mode http
        balance source
        option http-server-close
        server mattermost-corp mattermost-corp.knockout.local:8080 check

# PENG-3
backend b_graylog
	mode http
	balance source
	option http-server-close
	server docker-corp-1 docker-corp-1.knockout.local:80 check
	server docker-corp-2 docker-corp-2.knockout.local:80 check

## ITOPS-602
#backend b_sbb
#        mode http
#        balance source
#	option forwardfor
#        option http-server-close
#	server sbb1 10.25.140.100:8880 check send-proxy
#	server sbb2 10.25.140.101:8880 check send-proxy


listen stats
    bind :9000       #Listen on all IP's on port 9000
    mode http
    balance
    timeout client 5000
    timeout connect 4000
    timeout server 30000

    #This is the virtual URL to access the stats page
    stats uri /haproxy_stats

    #Authentication realm. This can be set to anything. Escape space characters with a backslash.
    stats realm HAProxy\ Statistics

    #The user/pass you want to use. Change this password!
    stats auth {{ ha_user }}:{{ ha_pass }}

    #This allows you to take down and bring up back end servers.
    #This will produce an error on older versions of HAProxy.
    stats admin if TRUE
 
