################################################
# {{ ansible_managed }}
# LAST MODIFIED ON: {{ ansible_date_time.iso8601 }}
################################################

server_url: {{ graylog_uri }}/{{ graylog_api }}
update_interval: 10
node_id: {{ ansible_fqdn }}
tls_skip_verify: false
send_status: {{ send_status }}
list_log_files:
{% for z  in logging_items %}
    - {{ z }}
{% endfor %}
collector_id: {{ collector_id }}
cache_path: {{ cache_path }}
log_path: {{ log_path }}
log_rotation_time: {{ log_rotation_time }}
log_max_age: {{ log_max_age }}
tags:
{% for y  in tag_items %}
    - {{ y }}
{% endfor %}
backends:
    - name: nxlog
      enabled: {{ nxlog_enable }}
      binary_path: {{ nxlog_binary }}
      configuration_path: {{ nxlog_config_file }}
    - name: filebeat
      enabled: {{ filebeat_enable }}
      binary_path: {{filebeat_binary }}
      configuration_path: {{ filebeat_config_file }}
