body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.navbar-inverse {
  background-image: linear-gradient(to bottom,#d9534f 0,#c12e2a 100%);
  .navbar-brand {
    background-color: white;
  }
}

.navbar-inverse .navbar-brand {
    background-color: white;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

