################################################
# {{ ansible_managed }}
# LAST MODIFIED ON: {{ ansible_date_time.iso8601 }}
################################################
{% raw %}
UserParameter=maxwellAlive[*], curl -s localhost:9311/ping | sed 's/pong/up/g'
UserParameter=messagesFailed[*], curl -s localhost:9311/metrics | jq '.counters."messages.failed".count'
UserParameter=messagesSuccedeed[*], curl -s localhost:9311/metrics | jq '.counters."messages.succedeed".count'
UserParameter=inflightMessages[*], curl -s localhost:9311/metrics | jq '.gauges."inflightmessages.count".value'
UserParameter=eventsPerSecond[*], curl -s localhost:9311/metrics | jq '.meters."row.meter".m1_rate'
{% endraw %}
