################################################
# {{ ansible_managed }}
# LAST MODIFIED ON: {{ ansible_date_time.iso8601 }}
################################################
UserParameter=Healthcheck, curl -s curl -s {{ burrow_monitor_host }}:8098/burrow/admin
UserParameter=Cluster_list, curl -s curl -s {{ burrow_monitor_host }}:8098/burrow/admin | jq ".cluster_name"
UserParameter=Exporter, systemctl is-active burrow_exporter
