################################################
# {{ ansible_managed }}
# LAST MODIFIED ON: {{ ansible_date_time.iso8601 }}
################################################
UserParameter=IncomeAccess_api, curl -s {{ incomeaccess_url }} | jq ".status"
UserParameter=IncomeAccess_db, curl -s {{ incomeaccess_url }} | jq ".db.status"
