################################################
# {{ ansible_managed }}
# LAST MODIFIED ON: {{ ansible_date_time.iso8601 }}
################################################
UserParameter=ClusterName, curl -s http://{{ ansible_default_ipv4.address }}:9200/_cluster/health | jq ".cluster_name"
UserParameter=Status, curl -s http://{{ ansible_default_ipv4.address }}:9200/_cluster/health | jq ".status"
UserParameter=NumberOfNodes, curl -s http://{{ ansible_default_ipv4.address }}:9200/_cluster/health | jq ".number_of_nodes"
UserParameter=NumberOfDataNodes, curl -s http://{{ ansible_default_ipv4.address }}:9200/_cluster/health | jq ".number_of_data_nodes"
UserParameter=ActiveShards, curl -s http://{{ ansible_default_ipv4.address }}:9200/_cluster/health | jq ".active_shards"
UserParameter=RelocatingShards, curl -s http://{{ ansible_default_ipv4.address }}:9200/_cluster/health | jq ".relocating_shards"
UserParameter=InitializingShards, curl -s http://{{ ansible_default_ipv4.address }}:9200/_cluster/health | jq ".initializing_shards"
UserParameter=UnassignedShards, curl -s http://{{ ansible_default_ipv4.address }}:9200/_cluster/health | jq ".unassigned_shards"
UserParameter=NumberOfPendingTasks, curl -s http://{{ ansible_default_ipv4.address }}:9200/_cluster/health | jq ".number_of_pending_tasks"
UserParameter=DelayedUnassignedTasks, curl -s http://{{ ansible_default_ipv4.address }}:9200/_cluster/health | jq ".delayed_unassigned_tasks"
UserParameter=NumberOfInFlightFetch, curl -s http://{{ ansible_default_ipv4.address }}:9200/_cluster/health | jq ".number_of_in_flight_fetch"
UserParameter=ActiveShardsPercent, curl -s http://{{ ansible_default_ipv4.address }}:9200/_cluster/health | jq ".active_shards_percent_as_number"
