version: '3.2'
services:
  static-assets-service:
    image: httpd:{{ SAS_VER }}
    ports:
      - {{ ASSETS_PORT }}:80
      - {{ MAINTENANCE_PORT }}:81
    deploy:
      mode: replicated
      replicas: {{ SAS_REPLICAS }}
      update_config:
        delay: 30s
    volumes:
      - "{{ VOLUME_PATH }}/static-assets:/usr/local/apache2/htdocs"
      - "{{ VOLUME_PATH }}/maintenance:/usr/local/apache2/maintenance"
      - "/opt/httpd.conf:/usr/local/apache2/conf/httpd.conf:ro"
    networks:
      - assets

  assets-sync-service:
    image: {{ repository_url }}/knockout-assets-sync-service:{{ ASS_VER }}
    deploy:
      mode: global
    environment:
      GITBRANCH: {{ GITBRANCH }}
    volumes:
      - "{{ VOLUME_PATH }}/static-assets:/data/static-assets"
      - "{{ VOLUME_PATH }}/maintenance:/data/maintenance"
      - "/tmp:/rtmp"
    networks:
      - assets
    secrets:
      - assets-sync-service.key
networks:
  assets:

secrets:
  assets-sync-service.key:
    file: {{ SAS_SECRET_PATH }}

