version: "3"
services:
  nginx:
    image: nginx:stable-alpine
    deploy:
      mode: global
      update_config:
        parallelism: 1
        delay: 20s
    volumes:
      - {{ LB_BASE_PATH }}/certs:/etc/nginx/certs:ro
      - {{ LB_BASE_PATH }}/conf.d:/etc/nginx/conf.d:ro
      - {{ LB_BASE_PATH }}/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80"
      - "443:443"
      - "514:1514"
      - "514:1514/udp"
