[Unit]
Description=kafka exporter metrics
After=ambari-server.target

[Service]
Type=simple
User=root
WorkingDirectory={{ kafkaExportFolder }}
ExecStart={{ kafkaExportFolder }}{{ kafkaExporter }}/kafka_exporter --kafka.server={{ ansible_fqdn }}:6667
Restart=on-failure # or always, on-abort, etc

[Install]
WantedBy=multi-user.target
