SECONDS_TOO_LONG=120
SERVER={{ansible_all_ipv4_addresses.0}}
QUERIES_RUNNING_TOO_LONG=`mysql -usqlkeeper -h $SERVER -paePhah9OhdeHooth -ANe"SELECT COUNT(1) FROM information_schema.processlist WHERE user<>'system user' AND time >= ${SECONDS_TOO_LONG}"`

if [ ${QUERIES_RUNNING_TOO_LONG} -gt 0 ]
then
    KILLPROC_SQLSTMT="SELECT CONCAT('KILL QUERY ',id,';') KillQuery FROM information_schema.processlist WHERE user<>'system user' AND time >= ${SECONDS_TOO_LONG}"
    mysql -usqlkeeper -h $SERVER -paePhah9OhdeHooth -ANe"${KILLPROC_SQLSTMT}" > /tmp/kill_log_queries.sql
    mysql -usqlkeeper -h $SERVER -paePhah9OhdeHooth < /tmp/kill_log_queries.sql
fi
