[client]

user  		=	{{ item.galerauser }}
password 	=	{{ item.galerapwd }}
{% if mariadbcount == 0 %}
socket		=	{{ mariadbpath }}/socket/mysql.sock
{% endif %}
{% if mariadbcount == 1 %}
socket		=	{{ mariadbpath}}{{ mariadbinstance }}/mysql.sock
{% endif %}
