echo "Erasing last day backups"
rm -rf {{db_folder}}/backups/base
rm -rf {{db_folder}}/backups/incr*
echo "running daily base backup"
xtrabackup --defaults-extra-file={{db_folder}}/conf/user_backup.cnf --backup --target-dir={{db_folder}}/backups/base
