################################################
#  ___  ___ ___ ___  _____  ____   __
# |   \| _ ) _ \ _ \/ _ \ \/ /\ \ / /
# | |) | _ \  _/   / (_) >  <  \ V /
# |___/|___/_| |_|_\\___/_/\_\  |_|  _    ___
# |  \/  | /_\  \ \/ / __|/ __| /_\ | |  | __|
# | |\/| |/ _ \  >  <\__ \ (__ / _ \| |__| _|
# |_|  |_/_/ \_\/_/\_\___/\___/_/ \_\____|___|
#
################################################
# {{ ansible_managed }}
# LAST MODIFIED ON: {{ ansible_date_time.iso8601 }}
################################################
[maxscale]
threads=auto
syslog=1
maxlog=1
log_to_shm=1
log_warning=1
log_notice=1
log_info=1
log_debug=0

###############################
#CLI
[CLI]
type=service
router=cli

[CLI Listener]
type=listener
service=CLI
protocol=maxscaled
socket=default

###############################
#METRICS
[MaxInfo]
type=service
router=maxinfo
user=monitor
passwd={{ instancepwdmetric }}

[MaxInfo JSON Listener]
type=listener
service=MaxInfo
protocol=HTTPD
port=8003

[MaxInfo Listener]
type=listener
service=MaxInfo
protocol=MySQLClient
port=9313

###############################
