###############################
#INSTANCES
{% for env in  maxscale %}
#{{ env.env }} INSTANCE
[{{ env.env }} service]
type=service
router=readwritesplit
servers={{ env.instancesrv | join(",")}}
user={{ env.instanceusr }}
passwd={{ env.instancepwd }}
filters=Enigma-1

[{{ env.env }} listener]
type=listener
service={{ env.env }} service
protocol={{ sqlengine }}Client
port={{ env.instanceport }}

#SQL MONITOR
[{{ env.env }} Monitor]
type=monitor
module=galeramon
servers={{ env.instancesrv | join(",")}}
user={{ env.instanceusr }}
passwd={{ env.instancepwd }}

{% endfor %}
