################################################
# {{ ansible_managed }}
# LAST MODIFIED ON: {{ ansible_date_time.date }}
################################################

######### general stuff #############
log_level=info

# choose where to produce data to. stdout|file|kafka|kinesis|pubsub|sqs|rabbitmq|redis
producer=kafka

######### mysql stuff ###############
host={{ maxwell_config.dbserver }}
port={{maxwell_config.dbport }}
user={{ maxwell_config.dbuser }}
password={{ maxwell_config.dbpassword }}
# name of the mysql database where maxwell keeps its own state
schema_database=maxwell
client_id={{ ansible_fqdn }}
# maxwell can optionally replicate from a different server than where it stores
# schema and binlog position info.  Specify that different server here:
#
#
#replication_host=other
#replication_user=username
#replication_password=password
#replication_port=3306

######### output format stuff ###############
#output_binlog_position=true
#output_gtid_position=true

# This controls whether maxwell will output JSON information containing
# DDL (ALTER/CREATE TABLE/ETC) infromation. (default: false)
# See also: ddl_kafka_topic
######### kafka stuff ###############

# list of kafka brokers
kafka.bootstrap.servers={{ maxwell_config.brokers|join(",") }}

# kafka topic to write to
# this can be static, e.g. 'maxwell', or dynamic, e.g. namespace_%{database}_%{table}
# in the latter case 'database' and 'table' will be replaced with the values for the row being processed

#################################################################################################
#################################################################################################
#DEPRECATED DUE TO @krzysztofl REQUERIMENT TO HAVE EVERYTHING STREAMED TO A 'stream_%{table}' TO
#BE ENV AGNOSTIC
#kafka_topic=test_{{ maxwell_config.env }}_%{database}_%{table}
kafka_topic=stream_%{table}
#################################################################################################
#################################################################################################

kafka.compression.type=snappy
kafka.retries=0
kafka.acks=1
#kafka.batch.size=16384


######### filter stuff ###############
#################################################################################################
#################################################################################################
#DEPRECATED DUE TO @krzysztofl REQUERIMENT TO HAVE EVERYTHING STREAMED TO A 'stream_%{table}' TO
#BE ENV AGNOSTIC
include_dbs={{ maxwell_data.schemas|join(",")}}
include_tables={{ maxwell_data.tables|join(",")}}
#################################################################################################
#################################################################################################

metrics_type=jmx,http

# The prefix maxwell will apply to all metrics
metrics_prefix=
# When metrics_type includes http or diagnostic is enabled, this is the port the server will bind to.
http_port=9311

# When metrics_type includes http or diagnostic is enabled, this is the http path prefix, default /.
#http_path_prefix=/some/path/
# To enable Maxwell diagnostic
http_diagnostic=true # default false

# Diagnostic check timeout in milliseconds, required if diagnostic = true
http_diagnostic_timeout=10000 # default 10000

######### misc stuff ###############

# maxwell's bootstrapping functionality has a couple of modes.
#
# In "async" mode, maxwell will output the replication stream while it
# simultaneously outputs the database to the topic.  Note that it won't
# output replication data for any tables it is currently bootstrapping -- this
# data will be buffered and output after the bootstrap is complete.
#
# In "sync" mode, maxwell stops the replication stream while it
# outputs bootstrap data.
#
# async mode keeps ops live while bootstrapping, but carries the possibility of
# data loss (due to buffering transactions).  sync mode is safer but you
# have to stop replication.
bootstrapper=async

# output filename when using the "file" producer
#output_file=/path/to/file
