################################################
# {{ ansible_managed }}
# LAST MODIFIED ON: {{ ansible_date_time.date }}
################################################
# SQL SCRIP TO FIX WHEN KAFKA MAXWELL DOESNT WORK
# AND WE NEED TO RECOVER MARIADB TRANSATIONS TO KAFKA

insert into maxwell.bootstrap (database_name, table_name, where_clause, client_id) values ('pro2_KOSchema', 'KOForex', 'ValidityTime >="2018-06-19"','dcluster-2.pro2.knockout.local')
insert into maxwell.bootstrap (database_name, table_name, where_clause, client_id) values ('pro2_KOSchema', 'KOAccount', 'createdAt >="2018-06-19"','dcluster-2.pro2.knockout.local')
insert into maxwell.bootstrap (database_name, table_name, where_clause, client_id) values ('pro2_KOSchema', 'KOCustomerLimit', 'ActivationDate>="2018-06-19"','dcluster-2.pro2.knockout.local')
insert into maxwell.bootstrap (database_name, table_name, where_clause, client_id) values ('pro2_KOSchema', 'KOPreSelfExcluded', 'EntryDate>="2018-06-19"','dcluster-2.pro2.knockout.local')
insert into maxwell.bootstrap (database_name, table_name, where_clause, client_id) values ('pro2_KOSchema', 'KOSelfExclusion', 'StartDate>="2018-06-19"','{{ maxwell.host}}')
