[Unit]
Description= Maxwell MariaDB Binlog to Kafka

[Service]
Type=forking
ExecStart=/opt/maxwell_config/daemon/wrapper.sh
Restart=on-failure
PIDFile={{ maxwellFolder }}/daemon/maxwell_config.pid
RestartSec=5s

[Install]
WantedBy=multi-user.target
