#!/bin/bash
################################################################################

#Export JAVA_OPTS for JMX
export JAVA_OPTS="-Dcom.sun.management.jmxremote \
-Dcom.sun.management.jmxremote.port=18081 \
-Dcom.sun.management.jmxremote.local.only=false \
-Dcom.sun.management.jmxremote.authenticate=false \
-Dcom.sun.management.jmxremote.ssl=false \
-Djava.rmi.server.hostname={{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}"

daemonize -c /opt/maxwell_config/daemon \
-e {{ maxwellFolder }}/daemon/maxwell_config_error.log \
-o {{ maxwellFolder }}/daemon/maxwell_config_out.log \
-p {{ maxwellFolder }}/daemon/maxwell_config.pid \
-l {{ maxwellFolder }}/daemon/maxwell_config.lock \
{{ maxwellFolder }}/bin/maxwell \
--config={{ maxwellFolder }}/config.properties \
--bootstrapper async \
--log_level info \
--http_diagnostic_timeout=10000 \
--kafka_version=0.10.2.1 \
--jdbc_options=zeroDateTimeBehavior=convertToNull&connectTimeout=10000
