################################################
# {{ ansible_managed }}
# LAST MODIFIED ON: {{ ansible_date_time.iso8601 }}
################################################

UserParameter=keepalived.addr.discovery[*],{{ zabbix_custom_scripts_folder}}/keepalived_addr_discovery.sh $1
UserParameter=keepalived.addr.availability[*],{{ zabbix_custom_scripts_folder}}/keepalived_addr_availability.sh $1
