################################################
# {{ ansible_managed }}
# LAST MODIFIED ON: {{ ansible_date_time.iso8601 }}
################################################
# rsyslog configuration file

# For more information see /usr/share/doc/rsyslog-*/rsyslog_conf.html
# If you experience problems, see http://www.rsyslog.com/doc/troubleshoot.html

#### MODULES ####

# The imjournal module bellow is now used as a message source instead of imuxsock.
$ModLoad imuxsock # provides support for local system logging (e.g. via logger command)
$ModLoad imjournal # provides access to the systemd journal
#$ModLoad imklog # reads kernel messages (the same are read from journald)
#$ModLoad immark  # provides --MARK-- message capability

# Provides UDP syslog reception
#$ModLoad imudp
#$UDPServerRun 514

# Provides TCP syslog reception
#$ModLoad imtcp
#$InputTCPServerRun 514

########################################################################################################################
#FIXME ONLY WORKS POLLING, WHY? NO FUCKING IDEA
#THIS IS CPU CONSUMING, SHOULD BE AVOIDED BUT ONLY THAT WORKS
module(load="imfile" PollingInterval="10")

#THIS IS THE BEST OPTION, BUT MAYBE DOESNT WORK
#module(load="imfile" mode="inotify")
########################################################################################################################

# Where to place auxiliary files
$WorkDirectory /var/lib/rsyslog

# Use default timestamp format
$ActionFileDefaultTemplate RSYSLOG_TraditionalFileFormat

# Include all config files in /etc/rsyslog.d/
$IncludeConfig /etc/rsyslog.d/*.conf
$OmitLocalLogging on

# File to store the position in the journal
$IMJournalStateFile imjournal.state

#### RULES ####

# Log all kernel messages to the console.
# Logging much else clutters up the screen.
#kern.*                                                 /dev/console
{{graylog_logggin_item}} {{ graylog_sender_type}}{{ graylog_srv_host }}:{{ graylog_srv_port }};{{ graylog_logging_format}}

# Save boot messages also to boot.log
local7.*                                                /var/log/boot.log
