
################################################
# {{ ansible_managed }}
# LAST MODIFIED ON: {{ ansible_date_time.iso8601 }}
################################################
######### Directives


{% for z in directive %}
input(type="imfile"
      File="{{ z.file }}"
      Tag="{{ env }}-{{ z.tag }}"
      Severity="{{ z.severity }}"
      Facility="{{ z.facility}}")
{% endfor %}
