[general]
pidfile="{{ burrow_parent_folder }}/burrow.pid"
stdout-logfile="{{ burrow_stout }}"

[logging]
filename="{{ logging_filename }}"
level="{{ logging_level }}"
maxsize=100
maxbackups=30
maxage=10
use-localtime=false
use-compression=true


[zookeeper]
servers=["{{ zookeeper_controller | join(',')}}"]
timeout=10

[client-profile.monitor]
kafka-version="0.10.2"
client-id="burrow-monitor"

################################
{% for x in kafka_cluster %}
[cluster.{{ x.cluster_name }}]
class-name="{{ x.class_name }}"
servers=["{{ x.cluster_servers |join(',')}}"]
client-profile="monitor"

[consumer.{{ x.consumer_name}}]
class-name="{{ x.consumer_class_name}}"
cluster="{{ x.cluster_name }}"
servers=["{{ x.consumer_servers |join(',')}}"]
client-profile="monitor"
################################
{% endfor %}

{% for y in http_server %}
[httpserver.{{ y.name }}]
address="{{ y.address }}"
timeout={{ y.timeout }}
{% endfor %}
