################################################
# {{ ansible_managed }}
# LAST MODIFIED ON: {{ ansible_date_time.iso8601 }}
################################################

[Unit]
Description={{ item | upper }} Service

[Service]
Type=simple
ExecStart={{ burrow_conf_folder }}/{{ item }}.wrapper.sh
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
