#!/bin/bash
################################################
# {{ ansible_managed }}
# LAST MODIFIED ON: {{ ansible_date_time.iso8601 }}
################################################

daemonize -c {{ burrow_conf_folder }} \
-e /var/log/{{ item }}.error.log \
-o /var/log/{{ item }}.ouput.log \
-p {{ burrow_parent_folder }}/{{ item }}.pid \
-l {{ burrow_parent_folder }}/{{ item }}.lock \
#NOTE NOW WE CALL THE {{ item }} GO EXECUTABLE
{% if 'burrow_exporter' in item %}
{{ burrow_bin_folder }}/{{ item }} {{ burrow_exporter_arguments }}
{% else %}
{{ burrow_bin_folder }}/{{ item }} {{ burrow_arguments }}
{% endif %}
