! Configuration File for keepalived
vrrp_instance VI_1 {
    interface {{ lb_iface }} 
    state {{ kstate }}
    virtual_router_id 55
    priority {{ kpriority }}

    authentication {
        auth_type AH
        auth_pass {{ keepalived.pass }} 
    }

    {% for item in keepalived.vip %}

    virtual_ipaddress {
        {{ item }}
    }

    {% endfor %}
}
{% if fe_iface is defined %}
vrrp_instance VI_2 {
    interface {{ fe_iface }} 
    state {{ kstate }}
    virtual_router_id 56
    priority {{ kpriority }}

    authentication {
        auth_type AH
        auth_pass {{ keepalived.pass }} 
    }

    virtual_ipaddress {
        {{ vip_fe_net }}
    }
}
{% endif %}
