###############################
#MAXSCALE KEEPALIVE VIPS
###############################
{% for instance in  maxscale_vip %}
vrrp_instance PUBLIC-{{ instance.instance |upper}} {
    interface {{ instance.interface }}
    state {{ keepalived_rol }}
    virtual_router_id {{ instance.virtual_router_id }}
{% if keepalived_rol=='MASTER' %}
    priority 100
{% else %}
    priority 50
{% endif %}
    authentication {
        auth_type AH
        auth_pass akytUrLLf6wPPpnh
    }
    virtual_ipaddress {
        {{ instance.vip }}
    }
    track_script {
        chk_{{ track_item }}
    }
}
{% endfor %}
