################################################
# {{ ansible_managed }}
# LAST MODIFIED ON: {{ ansible_date_time.iso8601 }}
################################################


! Configuration File for KEEPALIVED-MAXSCALE

global_defs {
    lvs_id {{ ansible_fqdn }}
    router_id {{hostvars[inventory_hostname]['ansible_default_ipv4']['address']|ipaddr('int')}}
}

vrrp_script chk_{{ track_item }} {
    script "pidof {{ track_item }}"
    interval {{ track_interval }}
}
