#!/bin/bash
{% for host in groups['couchbase-nodes'] %}

curl -u {{ admin_user }}:{{ admin_password }} \
  127.0.0.1:8091/controller/addNode \
  -d 'hostname={{ hostvars[host]['ansible_hostname']}}.{{ ad_fqdn }}&user={{ admin_user }}&password={{ admin_password }}' \
  -d 'services=kv,index,n1ql,fts'

{% endfor %}








