#!/bin/bash

set -x

admin_user=$1
admin_password=$2
cluster_index_ramsize=$3
cluster_index_quota=$4
cluster_ram_quota=$5

/opt/couchbase/bin/couchbase-cli cluster-init -c {{ ansible_hostname}}.{{ ad_fqdn }} --cluster-username=$admin_user \
 --cluster-password=$admin_password --services data,index,query,fts \
 --cluster-ramsize=$cluster_index_ramsize --cluster-index-ramsize=$cluster_index_quota \
 --cluster-fts-ramsize=512 --cluster-port=8091 --cluster-ramsize=$cluster_ram_quota
