
{% for instance in mariadb %}
  {% if mariadbcount >= 2  %}

[mysqld1]

  {% else %}

[mysqld]

  {% endif %}

#GENERAL
##################################################################
bind_address                    = {{ ansible_ens224.ipv4.address }}
binlog_format                   = ROW
datadir                         = {{ mariadbpath }}/databases
default_storage_engine          = InnoDB
gtid_domain_id                  = {{ instance.gtid }}
open_files_limit                = 65530
performance_schema              = ON
pid_file                        = {{ mariadbpath }}/pid/mysql.pid
socket                          = {{ mariadbpath }}/socket/mysql.sock
tmpdir                          = {{ mariadbpath }}/temp/
user                            = mysql


#INNODB PERFORMANCE AND TUNNING
##################################################################

innodb_autoinc_lock_mode        = 2
innodb_buffer_pool_instances    = {{ instance.bufferpoolinstances }}
innodb_buffer_pool_size         = {{ instance.bufferpoolsize }}
innodb_data_file_path           = ibdata1:50M;ibdata2:50M:autoextend
innodb_data_home_dir            = {{ mariadbpath }}/databases
innodb_flush_log_at_trx_commit  = 2
innodb_flush_method          	  = O_DIRECT
innodb_io_capacity              = 2000
innodb_locks_unsafe_for_binlog  = ON
innodb_log_file_size            = 1G
innodb_open_files             	= 20000
innodb_read_io_threads        	= 8
innodb_thread_concurrency     	= 0
innodb_write_io_threads       	= 8
innodb_file_per_table           = 1
join_buffer_size                = 256K
query_cache_limit               = 4M
query_cache_size                = 0
query_cache_type                = 0
read_buffer_size                = 128K
read_rnd_buffer_size            = 256K
sort_buffer_size                = 2M
table_definition_cache          = 600
table_open_cache                = 20000
table_open_cache_instances      = 16
thread_cache_size               = 303
thread_handling                 = pool-of-threads
tmp_table_size                  = 1G

#LOGGING
##################################################################

log_bin                         = {{ mariadbpath }}/binlog/master-binlog
log_bin_index                   = {{ mariadbpath }}/binlog/master-binlog.index
slow_query_log_file    	        = {{ mariadbpath }}/log/mysql-slow.log
log_error                     	= {{ mariadbpath }}/log/mysql.err
general_log_file                = {{ mariadbpath }}/log/mysql.log
log_bin_trust_function_creators = ON
log_queries_not_using_indexes   = ON
log_slave_updates               = 1
log_warnings                    = 1
long_query_time                 = 2
slow_query_log                  = 1
expire_logs_days                = 7

#NETWORK AND CONNECTIONS
##################################################################
max_allowed_packet             	= 16M
max_connections                 = 310
max_heap_table_size             = 2G
max_user_connections            = 300
wait_timeout                    = 120
port                            = {{ instance.port }}
server_id                       = {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address']|ipaddr('int') + loop.index }}
skip_name_resolve               = 1

#MASTER-SLAVE REPLICA
##################################################################
slave_skip_errors               = 1396              #USER NOT FOUND ERROR
replicate_ignore_db             = mysql
replicate_ignore_db             = performance_schema
replicate_ignore_db             = information_schema


#GALERA
##################################################################
wsrep_causal_reads              = ON
wsrep_cluster_address           = gcomm://{{ instance.members | join(',') }}
wsrep_cluster_name              = cluster-{{ instance.env }}
wsrep_gtid_domain_id            = {{ instance.gtid }}
wsrep_gtid_mode                 = on
wsrep_node_address              = {{ ansible_ens224.ipv4.address }}
wsrep_node_name                 = {{ instance.env }}-{{ ansible_host }}
wsrep_on                        = ON
wsrep_provider                  = /usr/lib64/galera/libgalera_smm.so
wsrep_provider_options          = gmcast.listen_addr=tcp://{{ ansible_ens224.ipv4.address }}:{{ instance.galeraport }}
wsrep_slave_threads             = 8
wsrep_sst_auth                  = {{ instance.galerauser }}:{{ instance.galerapwd }}
wsrep_sst_method                = xtrabackup-v2

{% endfor %}
