##################################################
#    __  __    _    ____  ___    _    ____  ____
#   |  \/  |  / \  |  _ \|_ _|  / \  |  _ \| __ )
#   | |\/| | / _ \ | |_) || |  / _ \ | | | |  _ \
#   | |  | |/ ___ \|  _ < | | / ___ \| |_| | |_) |
#   |_|__|_/_/  _\_\_|_\_\___/_/___\_\____/|____/
#    / ___/ _ \| \ | |  ___|_ _/ ___|
#   | |  | | | |  \| | |_   | | |  _
#   | |__| |_| | |\  |  _|  | | |_| |
#    \____\___/|_| \_|_|   |___\____|
##################################################
# {{ ansible_managed }}
# LAST MODIFIED ON: {{ ansible_date_time.date }}
##################################################
#TODO parece que pilla este valor siempre, revisar.
{% if mariadbcount >= 2 %}
####################################
#MULTI INSTANCE
####################################
[mysqld_multi]
mysqld     = /usr/sbin/mysqld
mysqladmin = /usr/bin/mysqladmin
user       = db-su-{{ item.env }}
password   = {{ lookup('password', '/tmp/passwordfile chars=digits') }}
log        = {{ mariadbpath }}/mysql_multi/mysqld_multi.log

{% endif %}
