################################################
# {{ ansible_managed }}
# LAST MODIFIED ON: {{ ansible_date_time.iso8601 }}
################################################
NAME={{ item.item }}
DEVICE={{ item.item }}
ONBOOT=yes
USERCTL=no
BOOTPROTO=static
NETMASK=#CONFIGURENETMASK
IPADDR=#CONFIGUREIP

check_link_down() {
 return 1;
}
