# {{ansible_managed}}

[Unit]
Description=ZooKeeper
After=network.target
Wants=network.target

[Service]
Type=simple
User=zookeeper
Group=zookeeper
ExecStart={{zookeeper_dir}}/bin/zkServer.sh start-foreground
Restart=always
RestartSec=3

TimeoutSec=300

[Install]
WantedBy=multi-user.target
