version: "3"
services:
  config-server:
    image: nexus-corp.knockout.local:18444/knockout-spring-cloud-config-server:1.4.2
    ports:
      - "8888:8888"
    depends_on:
      - vault_server
  vault-server:
    image: vault:0.10.0
    ports:
      - "8200:8200"
    volumes:
      - "{{ VLT_BASE_PATH }}/{{ VLT_DATADIR }}:/vault/file:rw"
      - "{{ VLT_BASE_PATH }}/{{ VLT_CONFIG }}:/vault/config:ro"
    entrypoint: vault server -config=/vault/config/vault.json
  vault-ui:
    image: djenriquez/vault-ui:2.4.0-rc3
    container_name: vault-ui
    ports:
      - "8280:8000"
    environment:
      NODE_TLS_REJECT_UNAUTHORIZED: 0
      VAULT_URL_DEFAULT: http://vault-corp.knockout.local:8210
      VAULT_AUTH_DEFAULT: TOKEN
    depends_on:
      - vault-server
