version: "3"
services:
  mongo:
    image: mongo:3
    deploy:
      placement:
        constraints:
          - node.hostname == {{ inventory_hostname }}
    volumes:
      - mongodb:/data/db
      - mongoconfig:/data/configdb

  graylog:
    image: graylog2/server:2.4.1-2
    deploy:
      mode: global
      update_config:
        parallelism: 1
        delay: 120s
    volumes:
      - {{ GL_CONFIG }}:/usr/share/graylog/data/config
      - graylogplugins:/usr/share/graylog/data/plugin
      - graylogjournal:/usr/share/graylog/data/journal
    ports:
      - "{{ GL_PORT }}:9000"
      - "9300-9320:9300-9320"
      - "2500:2500"
      - "2500:2500/udp"
      - "2501:2501"
      - "2501:2501/udp"
      - "2502:2502"
      - "2502:2502/udp"
      - "2503:2503"
      - "2503:2503/udp"
      - "2504:2504"
      - "2504:2504/udp"
      - "2505:2505"
      - "2505:2505/udp"
      - "2506:2506"
      - "2506:2506/udp"
      - "2507:2507"
      - "2507:2507/udp"
      - "2508:2508"
      - "2508:2508/udp"
      - "2509:2509"
      - "2509:2509/udp"
      - "162:162"
      - "162:162/udp"
    depends_on:
      - mongo

volumes:
  mongodb:
  mongoconfig:
  graylogjournal:
  graylogplugins:
