version: "3"
services:
  db:
    image: mysql:5
    volumes:
      - {{ SO_BASE_PATH }}/{{ SO_DB }}:/var/lib/mysql
    environment:
      - MYSQL_DATABASE={{ SO_DB_NAME }}
      - MYSQL_USER={{ SO_DB_USER }}
      - MYSQL_PASSWORD={{ SO_DB_PASS }}
      - MYSQL_RANDOM_ROOT_PASSWORD=yes
    logging:
      driver: gelf
      options:
        gelf-address: {{ LOG_ADDRESS }}
        tag: "sonar_db_{{ LOG_TAG }}"
 
  sonar:
    image: sonarqube:alpine
    ports:
      - "3080:9000"
    volumes:
      - {{ SO_BASE_PATH }}/{{ SO_DATA }}:/opt/sonarqube/data
      - {{ SO_BASE_PATH }}/{{ SO_CONFIG }}:/opt/sonarqube/conf
      - {{ SO_BASE_PATH }}/{{ SO_EXTENSIONS }}:/opt/sonarqube/extensions
    environment:
      - SONARQUBE_JDBC_USERNAME={{ SO_DB_USER }}
      - SONARQUBE_JDBC_PASSWORD={{ SO_DB_PASS }}
      - SONARQUBE_JDBC_URL=jdbc:mysql://db:3306/{{ SO_DB_NAME }}?useUnicode=true&characterEncoding=utf8&rewriteBatchedStatements=true&useConfigs=maxPerformance&useSSL=false
    depends_on:
      - db
    logging:
      driver: gelf
      options:
        gelf-address: {{ LOG_ADDRESS }}
        tag: "sonar_sonar_{{ LOG_TAG }}"
