{
  "backend": {"file": {
    "path": "/vault/file"}
  },
  "listener": {
    "tcp": {
      "address": "0.0.0.0:8200",
      "tls_disable": true,
      "tls_cert_file": "{{ VLT_BASE_PATH }}/{{ VLT_CONFIG }}/cert.pem",
      "tls_key_file": "{{ VLT_BASE_PATH }}/{{ VLT_CONFIG }}/key.pem"
    }
  },
  "default_lease_ttl": "2190h",
  "max_lease_ttl": "600000h",
  "disable_mlock": true,
  "ui": true
}
