################################################
# {{ ansible_managed }}
# LAST MODIFIED ON: {{ ansible_date_time.iso8601 }}
################################################
UserParameter=Get_Bucket, {{ zabbix_custom_scripts_folder }}/couchbase_get_bucket.sh
UserParameter=quotaPercentUsed[*], curl -s -u {{ zabbix_monitor_couchbase_login }}:{{ zabbix_monitor_couchbase_pwd }} localhost:8091/pools/default/buckets/$1 |jq ".[].basicStats.quotaPercentUsed"
UserParameter=opsPerSec[*], curl -s -u {{ zabbix_monitor_couchbase_login }}:{{ zabbix_monitor_couchbase_pwd }} localhost:8091/pools/default/buckets/$1 |jq ".[].basicStats.opsPerSec"
UserParameter=diskFetches[*], curl -s -u {{ zabbix_monitor_couchbase_login }}:{{ zabbix_monitor_couchbase_pwd }} localhost:8091/pools/default/buckets/$1 |jq ".[].basicStats.diskFetches"
UserParameter=itemCount[*], curl -s -u {{ zabbix_monitor_couchbase_login }}:{{ zabbix_monitor_couchbase_pwd }} localhost:8091/pools/default/buckets/$1 |jq ".[].basicStats.itemCount"
UserParameter=getStats[*], {{ zabbix_custom_scripts_folder}}/couchbase_get_stats.sh $1
UserParameter=currConnections, /opt/couchbase/bin/cbstats localhost:11210 all|grep curr_connections| awk '{print $2}'
UserParameter=httpStatus, curl -I -s -u {{ zabbix_monitor_couchbase_login }}:{{ zabbix_monitor_couchbase_pwd }} localhost:8091/pools/default --max-time 3| head -n 1| awk '{print $2}'
