################################################
# {{ ansible_managed }}
# LAST MODIFIED ON: {{ ansible_date_time.iso8601 }}
################################################
UserParameter=docker.running.containers[*],{{ zabbix_custom_scripts_folder}}/docker_load_script.sh $1 | sed -n 1p
UserParameter=docker.total.containers[*],{{ zabbix_custom_scripts_folder}}/docker_load_script.sh $1 | sed -n 2p
UserParameter=docker.total.images[*],{{ zabbix_custom_scripts_folder}}/docker_load_script.sh $1 | sed -n 3p
