################################################
# {{ ansible_managed }}
# LAST MODIFIED ON: {{ ansible_date_time.iso8601 }}
################################################
UserParameter=linkCouchbase1, curl -sL -u "{{ zabbix_monitor_couchbase_login }}":"{{ zabbix_monitor_couchbase_pwd }}" -w "%{http_code}"  "http://couchbase-1.pro2.knockout.local:8091/pools/default" --output /dev/null
UserParameter=linkCouchbase2, curl -sL -u "{{ zabbix_monitor_couchbase_login }}":"{{ zabbix_monitor_couchbase_pwd }}" -w "%{http_code}"  "http://couchbase-2.pro2.knockout.local:8091/pools/default" --output /dev/null
UserParameter=linkCouchbase3, curl -sL -u "{{ zabbix_monitor_couchbase_login }}":"{{ zabbix_monitor_couchbase_pwd }}" -w "%{http_code}"  "http://couchbase-3.pro2.knockout.local:8091/pools/default" --output /dev/null
