{{ ansible_managed | comment }}


# consumer (from remote kafka {{ item.env }} >>> HDP-DW-1)
#################################
#OLD method

zookeeper.connect={{ item.oldConsumer }}
zookeeper.session.timeout.ms=10000
zookeeper.sync.time.ms=5000
rebalance.max.retries=10
auto.offset.reset=largest
consumer.timeout.ms=5000
exclude.external.topics=true
fetch.message.max.bytes=10000000
rebalance.backoff.ms=10000
socket.receive.buffer.bytes=33554432
partition.assignment.strategy=roundrobin
#To commit on zookeeper and kafkabrokers
dual.commit.enabled=true
############

#NEW method
#bootstrap.servers={{ item.newConsumer }}
#
#Retrieve the last commited offset (instead the earliest one)
#auto.offset.reset=latest
#
#heartbeat.interval.ms=6000
#session.timeout.ms=10000
#
#auto commit to zookeeper
#enable.auto.commit=true
#exclude.internal.topics=true
#request.timeout.ms=20000
#
#Leader metadata refresh
#metadata.max.age.ms=120000
#reconnect.backoff.max.ms=5000
#retry.backoff.ms=1000

############

#STANDAR config
client.id={{ ansible_hostname }}
group.id=kafkamirror

#group.id={{ dw_name }}
