{{ ansible_managed | comment }}


#KafkaMirror Producer
###############################################################################
bootstrap.servers=kafka.bi.knockout.local:6667
connect.timeout.ms=20000

#Disabled due to the kafka version: should be enabled on 10.2 (we are on 10.1)
#producer.type=async
#key.class=kafka.serializer.DefaultEncoder
###############################################################################

#https://engineering.salesforce.com/mirrormaker-performance-tuning-63afaed12c21
compression.type=gzip
linger.ms=15000
batch.size=50000
buffer.memory=2000000000
max.request.size=1000000
###############################################################################

#avoid data lost
#https://docs.hortonworks.com/HDPDocuments/HDP2/HDP-2.6.4/bk_kafka-component-guide/content/avoiding-data-loss.html
block.on.buffer.full=true
acks=-1
max.in.flight.requests.per.connection=1
retries=5
###############################################################################
