################################################
# {{ ansible_managed }}
# LAST MODIFIED ON: {{ ansible_date_time.iso8601 }}
################################################

[Unit]
Description= kMirror {{ item.env }} TO HDP-DW-1

[Service]
Type=forking
ExecStart={{ kafkamirroparent }}/daemon/kMirror_{{ item.env }}_wrapper.sh
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
