#!/bin/bash
{{ ansible_managed | comment }}
################################################################################


daemonize -c /opt/kafkaMirror/daemon \
-e /opt/kafkaMirror/daemon/kMirror_{{ item.env }}.error.log \
-o /opt/kafkaMirror/daemon/kMirror_{{ item.env }}.ouput.log \
-p /opt/kafkaMirror/daemon/kMirror_{{ item.env }}.pid \
-l /opt/kafkaMirror/daemon/kMirror_{{ item.env }}.lock \
/usr/hdp/current/kafka-broker/bin/kafka-mirror-maker.sh \
--consumer.config /opt/kafkaMirror/kMirror_{{ item.env }}_cons.conf \
--producer.config /opt/kafkaMirror/kMirror_{{ item.env }}_prod.conf \
--whitelist="{{ kafkamirrortopics|join(",")}}"
